@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  width: 100%;
  height: auto;
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
  background-color: #e5e5e5;
}

.header {
  color: #396df2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.fa-bars {
  font-size: 20px;
  padding: 20px;
}

.logo {
  margin: 0;
  padding: 20px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.info-box {
  padding: 24px;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.introduction {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
}

.description {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
}

.icon {
  padding-right: 18px;
}

.intro-section {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 718px;
}

.my-works {
  display: grid;
  gap: 1rem;
  margin: 24px;
}

.work {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  padding-bottom: 30px;
}

.work-image {
  width: 100%;
}

.work-title {
  margin: 0;
  font-size: 45px;
}

.work-pointers {
  display: flex;
}

.work-pointers-title {
  font-weight: 700;
  color: #344563;
}

.work-pointers-bullets {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: #7a869a;
}

.work-description {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.tags {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  padding-bottom: 10px;
}

.tag {
  width: max-content;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 10px;
}

.project-link {
  width: max-content;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.project-link:hover {
  background-color: #396df2;
  color: #fff;
}

.project-link:focus {
  background-color: #2230d2;
  color: #fff;
}

.about-box {
  padding: 90px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-top-right-radius: 50px;
}

.intro-button {
  width: max-content;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
}

.intro-button:hover {
  background-color: #396df2;
  color: #fff;
}

.intro-button:focus {
  background-color: #2230d2;
  color: #fff;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 3px solid #f7f7f9;
}

.language-list {
  padding: 0;
}

.language-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #f7f7f9;
  margin-bottom: 8px;
  border-radius: 8px;
}

.language-icon {
  padding: 15px;
}

/* Contact-section starts here */

.contact-form {
  height: 846px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("/images/contact-base.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.contact-form-heading {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.contact-form-description {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 35px;
  width: 80%;
}

.contact-form-email,
.contact-form-username,
.message {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  width: 100%;
  padding: 15px;
  margin-left: 0;
  font-size: 17px;
  color: #172b4d;
}

.contact-form-message {
  margin-bottom: 20px;
}

.contact-form-btn {
  color: #6070ff;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  width: 142px;
  height: 48px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  background-color: #fff;
  padding: 12px 16px;
}

.contact-form-btn:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.contact-form-btn:active {
  background-color: #2230d2;
}

.contact-form-btn:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}
