@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Poppins, Arial, sans-serif;
  background-color: #e5e5e5;
}

/* For drop down menu */
.dropdown-menu {
  position: absolute;
  z-index: 10;
  color: #fff;
  background-color: #6070ff;
  height: 110vh;
  width: 100%;
  mix-blend-mode: multiply;
}

.hidden-dropdown-menu {
  display: none;
}

.nav-dropdown {
  list-style: none;
  margin-top: 15%;
}

.dropdown-x-icon {
  float: right;
  margin-right: 6.5%;
  margin-top: 6.5%;
}

.nav-dropdown-item-link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 62px;
  gap: 30px;
}

.x-holder {
  display: flex;
  flex-direction: row-reverse;
  padding: 48px 36px 0 0;
}

.x-icon {
  width: 20px;
  height: 20px;
}

/* For drop down menu */

.header {
  color: #396df2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: none;
}

.fa-bars {
  font-size: 20px;
  padding: 20px;
}

.logo {
  margin: 0;
  padding: 20px;
  font-weight: 700;
  font-style: bold;
  text-decoration: none;
  color: inherit;
}

.info-box {
  padding: 24px;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.intro-section {
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 779px;
}

.blur-intro-section {
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.introduction {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  color: #172b4d;
  vertical-align: center;
  margin: 0;
}

.description {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0;
}

.social-media {
  list-style: none;
  padding: 0;
  display: flex;
}

.icon {
  padding-right: 18px;
}

.my-works {
  display: grid;
  gap: 1rem;
  margin: 24px;
}

.desktop-works {
  display: none;
}

.work {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  padding-bottom: 30px;
  margin: 10% 5% 10% 5%;
}

.work-image {
  width: 100%;
}

.work-title {
  margin: 0;
  font-size: 45px;
}

.work-pointers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.work-pointers h3 {
  font-weight: 700;
  color: #344563;
}

.work-pointers-bullets {
  background: #7a869a;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.work-description {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
  margin: 0;
}

.tags {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  padding-bottom: 10px;
}

.tag {
  width: max-content;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 12px;
  margin-right: 5px;
}

.project-link {
  width: max-content;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  padding: 8px;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.project-link:hover {
  background-color: #396df2;
  color: #fff;
}

.project-link:focus {
  background-color: #2230d2;
  color: #fff;
}

.about-box {
  padding: 90px 24px 120px 24px;
  display: flex;
  background-color: #fff;
  border-top-right-radius: 50px;
  flex-direction: column;
}

.intro-button {
  width: max-content;
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  animation: wiggle 2s linear infinite;
}

.intro-button:hover {
  background-color: #396df2;
  color: #fff;
}

.intro-button:focus {
  background-color: #2230d2;
  color: #fff;
}

.skill-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.skill-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 3px solid #f7f7f9;
}

.language-list {
  padding: 0;
}

.language-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #f7f7f9;
  margin-bottom: 8px;
  border-radius: 8px;
}

.language-icon {
  padding: 15px;
}

/* Contact-section starts here */

.contact-form {
  height: 846px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-image: url("/images/contact-base.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

.contact-form-heading {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-top: 20%;
  margin-bottom: 5%;
}

.contact-form-description {
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.contact-form-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 35px;
  width: 80%;
}

.contact-form-email,
.contact-form-username {
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  width: 100%;
  padding: 15px;
  margin-left: 0;
}

.contact-form-message {
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
  padding: 15px;
}

.contact-form-btn {
  color: #6070ff;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  width: 142px;
  height: 48px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  background-color: #fff;
  padding: 9px 20px;
  margin-bottom: 1rem;
  animation: wiggle 2s linear infinite;
}

.contact-form-btn:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.contact-form-btn:active {
  background-color: #2230d2;
}

.contact-form-btn:disabled {
  background-color: #e5e5e5;
  color: #5e6c84;
}

.animation {
  animation-duration: 3s;
  animation-name: slidein;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-left: 12%;
    margin-right: 10%;
    width: 78%;
  }

  .intro-section {
    background-image: url("./images/desktop-base.png");
    background-size: cover;
    height: 1000px;
  }

  .dropdown-menu {
    display: none;
  }

  #hamburger-icon {
    display: none;
  }

  .nav {
    list-style: none;
    display: flex;
  }

  .nav-item {
    margin-right: 15%;
  }

  .nav-link {
    text-decoration: none;
    color: #344563;
  }

  .info-box {
    padding: 12% 19% 17% 19%;
  }

  .mobile-works {
    display: none;
  }

  .desktop-works {
    display: block;
  }

  .work {
    display: flex;
    gap: 20px;
  }

  .work-image,
  .work-description-section {
    flex-basis: 50%;
  }

  .work-reverse {
    flex-direction: row-reverse;
  }

  .work-image {
    width: 45%;
  }

  .work-pointers {
    display: flex;
  }

  .work-description-section {
    margin-left: 4%;
  }

  .about-box {
    padding: 12% 12% 10% 3%;
    margin-top: 8%;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .about-box-section {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    padding-right: 4%;
  }

  .language {
    flex-basis: 55%;
    padding-left: 10%;
    font-size: 15px;
    font-weight: 500;
  }

  .skill-list {
    flex: 1;
    margin: 0;
  }

  .language-list {
    display: flex;
    width: 70%;
  }

  .language-item {
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    align-items: flex-start;
    margin-right: 3%;
  }

  .contact-form {
    background-image: url("./images/desktop-form-background.png");
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  .contact-form-heading {
    margin-top: 3%;
    margin-bottom: 2%;
  }

  .contact-form-description {
    width: 40%;
  }

  .contact-form-content {
    width: 30%;
    align-items: center;
  }
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  40%,
  100% {
    transform: rotateZ(0);
  }
}

@keyframes slidein {
  from {
    margin-top: 100%;
    height: 300%;
  }

  to {
    margin-bottom: 0%;
    height: 100%;
  }
}
